{% extends "base.html" %}

{% block title %}
Home | Jayash Physiotheraphy and Rehab Centre
{% endblock %}

{% block content %}

<!-- Hero -->
{% include 'home/hero.html' %}

<!-- About Preview -->
{% include 'home/about_preview.html' %}

<!-- Services -->
{% include 'home/services_preview.html' %}

<!-- Doctors -->
{% include 'home/doctors_preview.html' %}

<!-- Treatment Process -->
{% include 'home/treatment_process.html' %}

<!-- Instagram Testimonials -->
{% include 'home/instagram_testimonials.html' %}

<!-- Gallery -->
{% include 'home/gallery_preview.html' %}

<!-- Why Choose Us -->
{% include 'home/why_choose_us.html' %}

<!-- FAQ -->
{% include 'home/faq_preview.html' %}


<!-- Contact -->
{% include 'home/contact_preview.html' %}


{% endblock %}