<!-- ==========================================
     NAVBAR
========================================== -->

<nav class="navbar navbar-expand-lg jayash-navbar sticky-top">

    <div class="container">

        <!-- ==================================
             BRAND / LOGO
        ================================== -->

        <a class="navbar-brand jayash-brand" href="/">

            <img
                src="{{ url_for('static', filename='images/logon.jpeg') }}"
                alt="Jayash Physiotherapy and Rehab Centre"
                class="jayash-logo">

            <div class="jayash-brand-text">

                <span class="jayash-brand-name">
                    Jayash Physiotherapy
                </span>

                <span class="jayash-brand-subtitle">
                    and Rehab Centre
                </span>

            </div>

        </a>


        <!-- ==================================
             MOBILE MENU BUTTON
        ================================== -->

        <button
            class="navbar-toggler jayash-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#jayashNavbar"
            aria-controls="jayashNavbar"
            aria-expanded="false"
            aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>

        </button>


        <!-- ==================================
             NAVIGATION
        ================================== -->

        <div
            class="collapse navbar-collapse"
            id="jayashNavbar">

            <ul class="navbar-nav ms-auto align-items-lg-center">

                <!-- Home -->

                <li class="nav-item">

                    <a
                        class="nav-link jayash-nav-link active"
                        href="/">

                        Home

                    </a>

                </li>


                <!-- About -->

                <li class="nav-item">

                    <a
                        class="nav-link jayash-nav-link"
                        href="#about">

                        About

                    </a>

                </li>


                <!-- Services -->

                <li class="nav-item">

                    <a
                        class="nav-link jayash-nav-link"
                        href="#services">

                        Services

                    </a>

                </li>


                <!-- Doctors -->

                <li class="nav-item">

                    <a
                        class="nav-link jayash-nav-link"
                        href="#doctors">

                        Doctors

                    </a>

                </li>


                <!-- Gallery -->

                <li class="nav-item">

                    <a
                        class="nav-link jayash-nav-link"
                        href="#gallery">

                        Gallery

                    </a>

                </li>


                <!-- Contact -->

                <li class="nav-item">

                    <a
                        class="nav-link jayash-nav-link"
                        href="#contact">

                        Contact

                    </a>

                </li>


                <!-- ==================================
                     BOOK APPOINTMENT
                ================================== -->

                <li class="nav-item ms-lg-3 mt-3 mt-lg-0">

                    <a
                        href="{{ url_for('appointment.book_appointment') }}"
                        class="btn jayash-nav-button">

                        <i class="fa-solid fa-calendar-check me-2"></i>

                        Book Appointment

                    </a>

                </li>

            </ul>

        </div>

    </div>

</nav>