{% extends "base.html" %}

{% block title %}
Book Appointment | Jayash Physiotheraphy and Rehab Centre
{% endblock %}

{% block content %}

<section class="appointment-section py-5">

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-lg-9">

                {% include "appointment/booking_form.html" %}

            </div>

        </div>

    </div>

</section>

{% include "appointment/booking_guidelines.html" %}

{% endblock %}